<form asp-action="Index">
    <label>Mã sinh viên:</label>
    <input type="Text" name="Masinhvien">
    <lable>Họ và tên:</lable>
    <input type="Text" name="Hoten">
    <input type="submit" value="Gửi dữ liệu" </form>

    <h1>@ViewBag.Message</h1>
